body {
  font-family: "Source Code Pro", monospace;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

code {
  font-size: 1.5em;
}

code.example {
  color: blueviolet;
}

.warning {
  color: red;
  font-size: 2em;
}
